<?xml version="1.0" encoding="UTF-8"?>
<!-- logger获取方式  Logger logger = LogManager.getLogger(本类的名.class) --> 
<!-- 导入的包  import org.apache.logging.log4j.LogManager;-->
<!-- import org.apache.logging.log4j.Logger; --> 
<configuration status="TRACE">	 
  <appenders>  
	 <Console name="consolePrint" target="SYSTEM_OUT">  
<!-- 		<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/> -->
		<PatternLayout
			pattern="%d{yyyy-MM-dd HH:mm:ss} -%-5level [%t]  %logger.%M(%L) -%msg%n" />
	</Console>

	<RollingFile name="RollingFile" fileName="logs/sbl.log"
		filePattern="logs/sbl-%d{yyyy-MM-dd}-%i.sbl.zip" ImmediateFlush="true">
		<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} -%-5level [%t]  %logger.%M(%L) -%msg%n" />
		<Policies>
			<TimeBasedTriggeringPolicy modulate="true" interval="1" />
			<SizeBasedTriggeringPolicy size="10MB" />
		</Policies>
		<!-- <DefaultRolloverStrategy max="20"/> -->
	</RollingFile>
</appenders>  
  
  <loggers>  
  
	  <logger name="com.bike.Dao" level="TRACE" additivity="false">
          <appender-ref ref="consolePrint"/>
      </logger>
      <root level="TRACE">
          <appender-ref ref="consolePrint"/>            
          <appender-ref ref="RollingFile"/>
      </root>      
  </loggers>  
</configuration>