<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bike.Mapper.SiteMapper">
	
	<resultMap id="SiteMap" type="com.bike.Dto.Site" >
	    <result column="s_id" property="s_id" jdbcType="VARCHAR" />
	    <result column="s_name" property="s_name" jdbcType="VARCHAR" />
	    <result column="s_longitude" property="s_longitude" jdbcType="VARCHAR" />
	    <result column="s_latitude" property="s_latitude" jdbcType="VARCHAR" />
	    <result column="s_capacity" property="s_capacity" jdbcType="DECIMAL" />
  </resultMap>
	
	
		<select id="getSiteByUuid" parameterType="int" resultMap="SiteMap">
			select * from b_site where s_uuid = #{s_uuid}
		</select>
		
		
		<select id="selectSiteTotalCount" resultType="Long">
			select count(*) from b_site where s_uuid != 1
	  </select>
		<select id="selectPageSite" parameterType="java.util.HashMap" resultMap="SiteMap">
			 select *  from b_site where s_uuid != 1  limit ${startNum},${pageSize}
		</select>
     
     <select id="getAllSite"  resultMap="SiteMap">
			select * from b_site where s_uuid != 1
		</select>
     
     <insert id="addSite" parameterType="com.bike.Dto.Site">
     	insert into b_site(s_name,s_longitude,s_latitude,s_capacity) values (#{s_name},#{s_longitude}, #{s_latitude},10)
     </insert>
     
     <update id="updateSite" parameterType="com.bike.Dto.Site">
     	update b_site set s_name = #{s_name} where s_uuid = #{s_uuid}
     </update>
     
     <delete id="deleteSite" parameterType="com.bike.Dto.Site">
     	delete from b_site where s_uuid = #{s_uuid}
     </delete>
     
 </mapper>
 
